html, body {
  height: 100%;
}

body {
  padding-top: 80px;
}

main {
  min-height: 100%;
}

.CodeMirror {
  border-top: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  border-left: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
}
